<a href="https://colab.research.google.com/github/kristantotanuwidjaja/machine-learning-fundamental/blob/main/Konversi_Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lakukan import os untuk menggunakan berkas bawaan yang disiapkan oleh Google Colab.

In [ ]:
import os
os.listdir('sample_data')

['README.md',
 'anscombe.json',
 'mnist_test.csv',
 'california_housing_train.csv',
 'california_housing_test.csv',
 'mnist_train_small.csv']

Import modul atau library pandas sebagai pd dan buat variabel df untuk memanggil dataset dan mengubah format dari csv menjadi dataframe.
Kemudian gunakan fungsi head() untuk menampilkan 5 data teratas.

In [ ]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]